* {
    box-sizing: border-box;

}

body {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border: 2px solid white;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: stretch;

}

.row .last {
    background-color: rgb(223, 151, 76);
    color: white;

}

.row .num {
    height: 55px;
    width: 55px;
}

#zero {

    width: 197px
}

#C {

    width: 125px
}

.display {
    height: 4.5rem;

    background-color: black;
    color: white;

    padding: 10 px;


    margin: 0;
    padding: 0%;

}

.display h1 {
    padding-top: 7%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;


}
button:hover{
    cursor: pointer;

    
}